<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ShinookApp-20200108084638.mdf;Initial Catalog=aspnet-ShinookApp-20200108084638;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="system.Data.SqlClient"/>
</connectionStrings>